<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz Result List</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>
<body>
  <header>
    <div class="ui inverted masthead segment" style="border-radius: 0;">
      <div class="ui inverted container">
        <div class="ui inverted secondary menu">
          <a class="active item" href="/dash">
            Home
          </a>
          <a class="item" href="/dash/course">
            Course
          </a>
          <a class="item" href="/dash/quiz">
            Quiz
          </a>
          <a class="item" href="/dash/keystroke_test">
            Keystroke test
          </a>
          <a class="item" href="/admin">
            Back to django dashboard
          </a>
          <div class="right menu">
            <div class="item">
              <i class="user icon"></i> Hello, {{ request.user }}
            </div>
            <div class="item">
              <a href="/logout" class="ui icon red button">Logout</a>
            </div>
          </div>
        </div>
        <span class="ui inverted center aligned icon header">
          <i class="circular home icon"></i>
          Professor's dashboard
        </span>
      </div>
    </div>
  </header>
  <div class="ui inverted vertical masthead center aligned segment" style="margin-top: -10px; min-height: 90vh;">
    <div class="ui inverted segment container">
      <h4>Go ahead and ...</h4>
    </div>
    <div class="ui container">
      <div class="ui three item menu">
        <div class="item">
          <a href="/dash/course" class="ui green button">Browse courses</a>
        </div>
        <div class="item">
          <a href="/dash/quiz" class="ui primary button">Browse quizzes</a>
        </div>
        <div class="item">
          <a href="/dash/keystroke_test" class="ui button">Browse keystroke test types</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
