<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz Results</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>
<body>
  <header>
    <div class="ui inverted masthead segment">
      <div class="ui inverted container">
        <div class="ui inverted secondary menu">
          <a class="item" href="/dash">
            Home
          </a>
          <a class="item" href="/dash/course">
            Course
          </a>
          <a class="active item" href="/dash/quiz">
            Quiz
          </a>
          <a class="item" href="/dash/keystroke_test">
            Keystroke test
          </a>
          <a class="item" href="/admin">
            Back to django dashboard
          </a>
          <div class="right menu">
            <div class="item">
              <i class="user icon"></i> Hello, {{ request.user }}
            </div>
            <div class="item">
              <a href="/logout"><i class="sign-out icon"></i> Logout</a>
            </div>
          </div>
        </div>
        <a href="/dash/quiz/results"><i class="arrow alternate circle left icon"></i> Back to quiz list</a>
        <a href="/dash/course/{{ quiz.course.id }}"><i class="arrow alternate circle left icon"></i> Back to course index</a>
        <div class="ui inverted horizontal segments">
          <div class="ui segment">
            <h2>{{ quiz }} results</h2>
          </div>
          <div class="ui segment">
            <h2>Quiz ID:<span class="ui red label big">{{ quiz.id }}</span></h2>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="ui center container">
    <div class="ui vertical segment">
      <p>A good keystroke match is considered to be anything above 70%, and a good face match is anything above <a href="https://cmusatyalab.github.io/openface/demo-2-comparison/">75.25%</a>.</p>
      <table class="ui celled table">
        <thead>
          <th>user</th>
          <th>keystroke match</th>
          <th>face distance</th>
        </thead>
        <tbody>
        {% for user, user_result in result_iteritems %}
          <tr>
            <td><a href="http://localhost:8888/moodle33/user/profile.php?id={{ user }}">{{ user }}</a></td>
            <td>
              {% if user_result.keystroke < 50 %}
                <span class="ui red label">{{ user_result.keystroke }}% match</span>
              {% elif user_result.keystroke < 70 %}
                <span class="ui orange label">{{ user_result.keystroke }}% match</span>
              {% else %}
                <span class="ui green label">{{ user_result.keystroke }}% match</span>
              {% endif %}
            </td>
            <td>
              <!-- according to: https://cmusatyalab.github.io/openface/demo-2-comparison/ -> treshold set to 0.99 -->
              {% if user_result.face < 75.25 %}
                <span class="ui red label">{{ user_result.face }}% match</span>
              {% elif user_result.face < 80 %}
                <span class="ui orange label">{{ user_result.face }}% match</span>
              {% else %}
                <span class="ui green label">{{ user_result.face }}% match</span>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="ui raised segment">
        <div class="ui container">
            Average match for keystroke test: <div class="ui blue label">{{ avg_keystroke_distance }}%</div>
        </div>
        <br>
        <div class="ui container">
          Average match for face test: <div class="ui blue label">{{ avg_face_distance }}%</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
