<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz Result List</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
</head>
<body>
  <header>
    <div class="ui inverted masthead segment">
      <div class="ui inverted container">
        <div class="ui inverted secondary menu">
          <a class="item" href="/dash">
            Home
          </a>
          <a class="item" href="/dash/course">
            Course
          </a>
          <a class="active item" href="/dash/quiz">
            Quiz
          </a>
          <a class="item" href="/dash/keystroke_test">
            Keystroke test
          </a>
          <a class="item" href="/admin">
            Back to django dashboard
          </a>
          <div class="right menu">
            <div class="item">
              <i class="user icon"></i> Hello, {{ request.user }}
            </div>
            <div class="item">
              <a href="/logout"><i class="sign-out icon"></i> Logout</a>
            </div>
          </div>
        </div>
        <a href="/dash/quiz"><i class="arrow alternate circle left icon"></i> Back to quiz index</a>
        <h2>Add a new quiz</h2>
      </div>
    </div>
  </header>
  <div class="ui vertical segment">
    <div class="ui center container">
        <form method="post" action="">
          {% csrf_token %}
          {% for field in form %}
            {{ field.label }}
            <div class="ui input raised segment container">
              {{ field }}
            </div>
          
          {% endfor %}
          <!-- <table>
            {{ track_formset }}
          </table> -->
          <div class="ui input vertical segment">
            <input type="submit" class="ui primary button"/>
          </div>
        </form>
    </div>
  </div>
</body>
</html>
